@import url('https://fonts.googleapis.com/css?family=Limelight|Roboto:100,300,400,700,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.landingup{
    height: 500px;
    background-color: #170D3E;
}
.landing{
    color: white;
    width: 45%;
    padding: 50px;
}
.landingtitle{
    display: flex;
}
.landingtitle h1{
    font-family: 'Limelight';
    color: #FD5974;
    font-size: 100px;
}
.landingtitle h4{
    font-family: 'Roboto';
    display: inherit;
    align-items: flex-end;
    padding: 0 15px 30px;
}
.mitad1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.landingsubtitle{
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: bold;
}

.landingdetails{
    font-family: 'Roboto';
    font-weight: 100;
    padding: 20px 0 0;
    font-size: 25px;
}
.landingbutton{
    font-size: 24px;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    background-color: #FD5974;
    margin-top: 40px;
}

.foddiefriends img{
    width: 500px;
    height: 450px;
}
.mitad2{
    display: flex;
    justify-content: center;
}
.oboarding{
    width: 276px;
    height: 300px;
    font-family: 'Roboto';
    margin: 30px 20px 0;
}
.onboardingimage{
    display: flex;
    justify-content: center;
}
.onboardingimage img{
    height: 157px;
    width: 157px;
}
.onboardingtitle{
    text-align: center;
    margin: 10px 0;
}
.onboardingdetails{
    text-align: center;
    margin: 10px 0;
}